<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>
    <div class="row ">
        <div class="col-sm-3"></div>
        <div class=" col-sm-6 " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Full name: {{user.first_name}} {{user.last_name}}</h5>
              <p class="card-text">Email: {{user.email}}</p>
              <p>Created at: {{user.created_at}}</p>
              <a href="#" class="btn btn-primary">Edit</a>
            </div>
          </div>
    </div>
    

   

</h2> 
</body>
</html>